/* style.css */

:root {
    --color-light: #fff;
    --color-light-gray: #A4A4A4;
    --color-dark: #222;
    --color-blue-light: #2C70FF;
    --color-blue-dark: #122AB2;
    --color-purple: #AE81FF;
    --color-pink: #F9265E;
    --color-blue: #66D9EB;
}

html, body {
    margin: 0;
    padding: 0;
}

article, aside, nav, section, h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    font-family: Nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.bg-blue-light {
    background-color: var(--color-blue-light);
}

.bg-blue-dark {
    background-color: var(--color-blue-dark);
}

.bg-light {
    background-color: var(--color-light);
}

.navbar-light,
.navbar-brand,
.navbar-toggler,
.navbar-nav,
.nav-link.active,
.text-light,
.nav-link  {
    color: var(--color-light) !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item {
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar {
    min-height: 80px;
}

hr {
    max-width: 1240px;
    height: 2px !important;
    color: var(--color-blue-light);
    opacity: 1;
}

.card {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.card-body {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.card-header {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
    border-top: 7px solid;
}

.p-purple {
    border-color: var(--color-purple);
}

.p-pink{
    border-color: var(--color-pink);
}

.p-blue{
    border-color: var(--color-blue);
}

.card-title {
    margin-bottom: 0 !important;
}

.card-footer {
    padding: 0 !important;
    border: 0 !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bg-gray {
    background-color: #F7F7F7;
}

button.btn {
    text-transform: uppercase;
}

.card-secondary {
    border-radius: 0;
    border: 4px solid #fff;
    margin: 0 auto;
    padding: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    width: 30%;
}

.card-header-secondary {
    padding: 0 .5rem;
    margin: 2rem;
}

.title {
    border-bottom: 4px solid #fff;
}

.title-light-gray {
    color: var(--color-light-gray);
}

.title-dark {
    color: var(--color-dark);
}

.list-secondary {
    list-style-position: inside;
    margin-left: 1.5rem;
}

.list-item-secondary {
    line-height: 2rem;
    list-style-type: none;
    text-align: left;
}

.btn-outline {
    border: 3px solid #000;
    border-radius: 0 !important;
    min-width: 12rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.btn-outline:hover {
    background-color: var(--color-dark);
    color: var(--color-light);
}