/* style.css */

:root {
    --color-light: #fff;
    --color-dark: #222;
    --color-blue-light: #2C70FF;
    --color-blue-dark: #122AB2;
}

html, body {
    margin: 0;
    padding: 0;
}

article, aside, nav, section, h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    font-family: Nunito;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.bg-blue-light {
    background-color: var(--color-blue-light);
}

.bg-blue-dark {
    background-color: var(--color-blue-dark);
}

.bg-light {
    background-color: var(--color-light);
}

.navbar-light,
.navbar-brand,
.navbar-toggler,
.navbar-nav,
.nav-link.active,
.text-light,
.nav-link  {
    color: var(--color-light) !important;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-item {
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar {
    min-height: 80px;
}

hr {
    max-width: 1240px;
    height: 2px !important;
    color: var(--color-blue-light);
    opacity: 1;
}